html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.graff {

  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: calc(100% - 64px);


  display: flex;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  width: 960px;
  height: 540px;
}

div#ui {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 64px;
  width: 100%;
  height: 64px;
  user-select: none; /* CSS3 */
}

div#btnPrev, div#btnNext {
  position: absolute;
  top: 0;
  width: 64px;
  height: 64px;
  background: #3498db;
  color: #FFF;
  font-size: 200%;
  text-align: center;
  cursor: pointer;
}

div#btnNext:active, div#btnPrev:active {
  background: #2980b9;
}

div#btnNext {
  right: 0;
}

div#btnPrev {
  left: 0;
}

div#numParticle {
  font-size: 200%;
  color: #fff;
  background: #34495e;
  width: 100%;
  height: 64px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

#selectBox {
  zoom: 2;
}